/* Error: $color: shade(#0abab5, 52%) is not a color.
 *   ,
 * 4 |   @return red($value), green($value), blue($value);
 *   |           ^^^^^^^^^^^
 *   '
 *   source/scss/settings/tools/functions/_colors.scss 4:11  to-rgb()
 *   source/scss/settings/tools/_root.scss 20:36             @import
 *   source/style.scss 32:9                                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: shade(#0abab5, 52%) is not a color.\a   \2577 \a 4 \2502    @return red($value), green($value), blue($value);\a   \2502            ^^^^^^^^^^^\a   \2575 \a   source/scss/settings/tools/functions/_colors.scss 4:11  to-rgb()\a   source/scss/settings/tools/_root.scss 20:36             @import\a   source/style.scss 32:9                                  root stylesheet";
}
