    $vertical-spacer    : 1vh;
    $horizontal-spacer  : 1vw;

    $vertical-spacer-lg: $spacer * $xxl;
    $horizontal-spacer-lg: $spacer * $xl;

    /* Map */
    $spacers        : (
      0             : 0,
      1             : $spacer * .25,
      2             : $spacer * .5,
      3             : $spacer,
      4             : $spacer * 1.5,
      5             : $spacer * 3
    );

  $negative-spacers : negativify-map($spacers);
