/* Error: (0: 0, 1: 0.25, 2: 0.5, 3: 1, 4: 1.5, 5: 3) isn't a valid CSS value.
 *    ,
 * 11 |   $negative-numbers : negativify-map($spacers);
 *    |                                      ^^^^^^^^
 *    '
 *   src/sass/modules/style/properties/_spacing.scss 11:38  @import
 *   src/sass/modules/properties.scss 35:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: (0: 0, 1: 0.25, 2: 0.5, 3: 1, 4: 1.5, 5: 3) isn't a valid CSS value.\a    \2577 \a 11 \2502    $negative-numbers : negativify-map($spacers);\a    \2502                                       ^^^^^^^^\a    \2575 \a   src/sass/modules/style/properties/_spacing.scss 11:38  @import\a   src/sass/modules/properties.scss 35:9                  root stylesheet";
}
