/* Error: Undefined variable.
 *    ,
 * 22 | $text-margin-bottom      : $offset;
 *    |                            ^^^^^^^
 *    '
 *   src/sass/modules/style/typography/variables/_font-variables.scss 22:28  @import
 *   src/sass/modules/typography.scss 2:9                                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 22 \2502  $text-margin-bottom      : $offset;\a    \2502                             ^^^^^^^\a    \2575 \a   src/sass/modules/style/typography/variables/_font-variables.scss 22:28  @import\a   src/sass/modules/typography.scss 2:9                                    root stylesheet";
}
