/*! _______________________________________________________ CHANGEpercentage */
$active-shade-percentage            : 10% !default;
$inactive-tint-percentage          : 10% !default;
$link-percentage              : 20% !default;
$visited-percentage           : 30% !default;
$hover-percentage             : 40% !default;
$focus-percentage             : 50% !default;

$muted-percentage             : 50% !default;


$background-percentage        : 41% !default;
$nav-percentage               : 51% !default;
$border-percentage            : 61% !default;
$button-percentage            : 71% !default;
$card-percentage              : 81% !default;
$shadow-percentage            : 91% !default;

$text-percentage              : 52% !default;
$caption-percentage           : 62% !default;
$quote-percentage             : 72% !default;
$comment-percentage           : 82% !default;
$heading-percentage           : 92% !default;

$lead-percentage              : 13% !default;
$post-percentage              : 23% !default;
$page-percentage              : 33% !default;
$site-percentage              : 43% !default;
$title-percentage             : 53% !default;

$target-percentage            : 4% !default;
$target-within-percentage     : 14% !default;
$scope-percentage             : 24% !default;
$focus-visible-percentage     : 34% !default;
$focus-within-percentage      : 44% !default;

$info-percentage              : 94% !default;

$inset-percentage             : 6% !default;

$local-link-percentage        : 20% !default;
$btn-disabled-opacity         : 0.45 !default;
$input-btn-focus-color-opacity: 0.25 !default;
$input-btn-focus-blur         : 0 !default;
