$blue     : #0dcaf0 !default;
$indigo   : #6600ff !default;
$purple   : #510bda !default;
$pink     : #ff6fa9 !default;
$red      : #ff555a !default;
$orange   : #ffd080 !default;
$yellow   : #ffcc33 !default;
$green    : #cdffff !default;
$teal     : #b5ede4 !default;
$cyan     : #0abab5 !default;
$gray     : $gray-600 !default;
