$gray-100-rgb : rgb(192,192,192) !default;
$gray-200-rgb : rgb(154,154,154) !default;
$gray-300-rgb : rgb(123,123,123) !default;
$gray-400-rgb : rgb(98,98,98) !default;
$gray-500-rgb : rgb(78,78,78) !default;
$gray-600-rgb : rgb(62,62,62) !default;
$gray-700-rgb : rgb(50,50,50) !default;
$gray-800-rgb : rgb(40,40,40) !default;
$gray-900-rgb : rgb(26,26,26) !default;

$teal-rgb     : rgb(181,237,228) !default;
$yellow-rgb   : rgb(255,228,30) !default;
$red-rgb      : rgb(186,10,15) !default;
$orange-rgb   : rgb(253,133,53) !default;
$green-rgb    : rgb(130,222,209) !default;
$blue-rgb     : rgb(28,32,168) !default;
$indigo-rgb   : rgb(102,0,255) !default;
$purple-rgb   : rgb(81,11,218) !default;
$cyan-rgb     : rgb(10,186,181) !default;
$pink-rgb     : rgb(252,137,172) !default;

$white-rgb    : rgb(228,237,244) !default;
$black-rgb    : rgb(0,1,0) !default;

$silver-rgb   : rgb(168,169,173) !default;

$primary-rgb  : rgb(10,186,181) !default;
$secondary-rgb: rgb(255,228,30) !default;
$accent-rgb   : rgb(168,169,173) !default;
$valid-rgb    : rgb(72,199,142) !default;
$attention-rgb: rgb(255,71,15) !default;
$invalid-rgb  : rgb(241,70,104) !default;
$alert-rgb    : rgb(204,51,153) !default;
$info-rgb     : rgb(72,95,199) !default;
$light-rgb    : rgb(192,192,192) !default;
$dark-rgb     : rgb(26,26,26) !default;
