/*! _______________________________________________________ CHANGEpercentage */
$active-percentage            : 5% !default;
$inset-percentage             : 6% !default;
$link-percentage              : 10% !default;
$visited-percentage           : 20% !default;
$hover-percentage             : 30% !default;
$focus-percentage             : 40% !default;
$muted-percentage             : 50% !default;
$inactive-percentage          : 60% !default;
$target-percentage            : 4% !default;
$target-within-percentage     : 14% !default;
$scope-percentage             : 24% !default;
$focus-visible-percentage     : 34% !default;
$focus-within-percentage      : 44% !default;

$background-percentage        : 41% !default;
$nav-percentage               : 51% !default;
$border-percentage            : 61% !default;
$button-percentage            : 71% !default;
$card-percentage              : 81% !default;
$shadow-percentage            : 91% !default;

$text-percentage              : 52% !default;
$caption-percentage           : 62% !default;
$quote-percentage             : 72% !default;
$comment-percentage           : 82% !default;
$heading-percentage           : 92% !default;

$info-percentage              : 94% !default;

$lead-percentage              : 55% !default;
$post-percentage              : 65% !default;
$page-percentage              : 75% !default;
$site-percentage              : 85% !default;
$title-percentage             : 95% !default;

$local-link-percentage        : 20% !default;
$btn-disabled-opacity         : 0.45 !default;
$input-btn-focus-color-opacity: 0.25 !default;
$input-btn-focus-blur         : 0 !default;
